a{
	cursor: pointer;
}
button:focus, button:hover{
    outline:none;
}
option {
    color: #232424;
}
/*div#bs-example-navbar-collapse-1 {
     text-align: center !important; 
}*/
/*.mobo-pic{
	width:228px;
	height: 446px;
}*/
div#load_screen{
	background-color: rgba(244, 251, 250, 0.65);
	opacity: 1;
	position: fixed;
	z-index: 10;
	top: 70px;
	width: 96%;
	height: 580px;
	display: none;
	border-radius: 5px;
}
div#load_screen > div#loading{
	color: #fff;
	width: 120px;
	height: 24px;
	margin: 250px auto;
}
div#load_screen > div#loading .fa-spinner{
	color: #66CDCC;
}
.drop-option{
	border: 1px solid #ccc;
	margin-top: -1px;
	border-radius: 40px;
	padding: 15px 30px;
	display: none;
	height: 222px;
    overflow: hidden;
    position: absolute;
	z-index: 1000;
	background-color: #66CDCC;
	color: #fff;
	width: 96%;
}
.drop-search{
	display: inline-table;
	cursor: pointer;
	font-weight: bold;
	font-size: 27px;
	width: 100%;
	margin-top: 2%;
}
/*.drop-search img{
	width: 5%;
	height: 5%;
	margin-top: 1%;
}*/
.drop-search img {
    width: 8%;
    height: 35px;
    margin-top: 0%;
}
.navbar-brand .logo{
	width:30%;
}
hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 0;
    border-top: 1px solid #eee;
}
.corporate-con{
	margin-top:16%;
}

.trans-img img { width: 228px; height: 446px; -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; } 
.trans-img img:hover { width: 300px; height: 546px; } 

.tilt img{
    width: 228px; 
    height: 446px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease; 
  -ms-transition: all 2s ease; 
  transition: all 2s ease;
}
 
.tilt img:hover {
  width: 300px; height: 546px; }

 .navbar-right {
    float: right!important;
    margin-right: -105px;
}



.custom-header{padding: 5px;}
.payment-form label{color: #000;}
.payment-form input[type="email"]{border-radius: 0;}
.payment-form input[type="text"]{border-radius: 0;}
.payment-form .form-row{margin-bottom: 10px;}
.half {
  display:inline-block;
  padding:4px !important;
  width:45%;
}
.payment-form .submit{background: #3071a9; color: #fff; margin-top: 9px;}
.custom-header h4{padding-bottom: 0;}
.total{cursor: none;}
.payment-errors{color: red;}



@media all and (max-width: 920px) {

	header .navbar-default ul.navbar-nav li a{padding: 7px 13px}
	.tp-caption img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
    zoom: 1;
    width: 55%;
    margin-bottom: -10px;
    margin-top: 100px;
}
header .navbar-default.scrolled .navbar-brand img {
    width: auto;
    max-height: 75px;
}

}
@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
     margin-left: 0px !important; 
}
/*.navbar-right {
    float: right!important;
    margin-right: -105px;
}*/
}



@media only screen and (min-width: 767px) and (max-width: 1023px){

.navbar-brand .logo{width: 25%;}
header .navbar-default ul.navbar-nav {
    /* padding-top: 55px; */
    padding-top: 0px;
    width: 75% !important;
}
/*header .navbar-default ul.navbar-nav {padding-top: 0px !important;}*/
.col-sm-4.get-app-icon {
    margin-left: 45px;
}
.corporate-con {
    margin-top: 25%;
}
.drop-option {
    width: 94%;
}
.drop-search img {
    width: 9%;
    height: 30px;
    margin-top: 1%;
}
.tp-caption img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
    zoom: 1;
    width: 101%;
    margin-left: -36px;
}
.btn.btn-primary.inverse {
    color: #ffffff;
    border-color: #ffffff;
    margin-top: -3px;
    margin-left: -7px;
}
.trans-img img {
    width: 157px;
    height: 340px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}
.trans-img img:hover { width: 220px; height: 406px; } 

.tilt img {
    width: 170px;
    height: 346px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}
.tilt img:hover {
  width: 220px; height: 406px; }

  .navbar-right {
    float: right!important;
    margin-right: -15px;
}
/*.hanging-phone {
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: -189px !important;
}*/

}



@media all and (max-width: 768px) {

#banner-pictures{width: 100%; overflow: hidden; margin: 60px auto 0 auto; text-align: center;}
.tp-caption.large_white_bold{font-size: 45px !important;}
.tp-caption.large_white_light{font-size: 45px !important;}
.section-heading h1{font-size: 39px;}
.section-heading h4{font-size: 15px; line-height: 25px;}
section#about .about-item{min-height: 379px;}
.tp-banner-container ul{margin: 0; padding: 0}

}


@media all and (max-width: 480px) {

  section#about .about-item{width: 100% !important; float: none; min-height: 280px}
#about .col-xs-6{width: 100% }

section{padding-bottom: 0px}
.section-heading{margin: 0px 0 37px}
h3{font-size: 18px;}
.section-heading p{font-size: 18px;}
.width30 {
    width: 100%;
}
.tp-caption img {
    margin-top: 45px;
}
.drop-search img {
    width: 8%;
    height: 25px;
    margin-top: 2%;
}
.drop-option {
    width: 93%;
}

}
/*tesst*/















