.drop-option{
	border: 1px solid #ccc;
	margin-top: -1px;
	border-radius: 40px;
	padding: 15px 24px;
	display: none;
}
.drop-search{
	display: inline-table;
	/*border: 1px solid #ccc;
	margin-top: -1px;
	border-radius: 40px;
	padding-top: 6px;
	padding-left: 15px;*/
	width: 100%;
}
.drop-search img{
	width: 3%;
	height: 5%;
}
