body{
	cursor: pointer;
}
div#load_screen{
	background-color: RGBA(0, 0, 0, 0.22);
	opacity: 1;
	position: fixed;
	z-index: 10;
	top: 70px;
	width: 96%;
	height: 580px;
	display: none;
	border-radius: 5px;
}
div#load_screen > div#loading{
	color: #fff;
	width: 120px;
	height: 24px;
	margin: 250px auto;
}
div#load_screen > div#loading .fa-spinner{
	color: #66CDCC;
}
.drop-option{
	border: 1px solid #ccc;
	margin-top: -1px;
	border-radius: 40px;
	padding: 15px 30px;
	display: none;
	height: 222px;
    overflow: hidden;
    position: absolute;
	z-index: 1000;
	background-color: #66CDCC;
	color: #fff;
	width: 96%;
}
.drop-search{
	display: inline-table;
	cursor: pointer;
	font-weight: bold;
	font-size: 27px;
	width: 100%;
	margin-top: 2%;
}
/*.drop-search img{
	width: 5%;
	height: 5%;
	margin-top: 1%;
}*/
.drop-search img {
    width: 8%;
    height: 5%;
    margin-top: 0%;
}
.navbar-brand .logo{
	width:65%;
}
hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 0;
    border-top: 1px solid #eee;
}
.corporate-con{
	margin-top:16%;
}

.trans-img img { height: 446px; width: 228px; -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease; } 
.trans-img img:hover { width: 328px; height: 546px; } 

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 30%;
      margin: auto;
      height:500px;
  }

/*.img-zoom-div{
	transition: all .2s ease-in-out;
}

.img-zoom-div:hover{ transform: scale(1.1); }
*/

@media all and (max-width: 920px) {

	header .navbar-default ul.navbar-nav li a{padding: 7px 13px}

}

@media only screen and (min-width: 767px) and (max-width: 1023px){

.navbar-brand .logo{width:60%;}
/*header .navbar-default ul.navbar-nav {padding-top: 0px !important;}*/
.col-sm-4.get-app-icon {
    margin-left: 15px;
}
.corporate-con {
    margin-top: 25%;
}
.drop-option {
    width: 94%;
}
.drop-search img {
    width: 9%;
    height: 6%;
    margin-top: 1%;
}

}



@media all and (max-width: 768px) {

#banner-pictures{width: 100%; overflow: hidden; margin: 60px auto 0 auto; text-align: center;}
.tp-caption.large_white_bold{font-size: 45px !important;}
.tp-caption.large_white_light{font-size: 45px !important;}
.section-heading h1{font-size: 39px;}
.section-heading h4{font-size: 15px; line-height: 25px;}
section#about .about-item{min-height: 379px;}
.tp-banner-container ul{margin: 0; padding: 0}

}


@media all and (max-width: 480px) {

  section#about .about-item{width: 100% !important; float: none; min-height: 280px}
#about .col-xs-6{width: 100% }

section{padding-bottom: 0px}
.section-heading{margin: 0px 0 37px}
h3{font-size: 18px;}
.section-heading p{font-size: 18px;}
.width30 {
    width: 100%;
}
.tp-caption img {
    margin-top: 45px;
}
.drop-search img {
    width: 8%;
    height: 6%;
    margin-top: 2%;
}
.drop-option {
    width: 93%;
}

}














